* {
    margin:0%;
    padding:0%;
    box-sizing:border-box;
}

.heading {
    position:relative;
    color: #000000;
    font-size: 2em;
    margin:0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding:7px;
    text-align:center;
    background-color: rgba(121, 121, 121, 0.959);
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(165, 3, 180, 0.863);
}

ul.navbar li {
    float: left;
}
  
ul.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
ul.navbar li a:hover:not(.active) {
    background-color: #111;
}
  
a.active {
    background-color: #b8ab00;
}

.footer {
    position:absolute;
    width:100%;
    left: 0px;
    bottom: 0px;
    height: 50px;
    background-color: rgba(121, 121, 121, 0.959);
    color: rgb(0, 0, 0);
    text-align: center;
}

.column {
    float: left;
    padding:10px;
}
  
/* Left and right column */
.column.side {
    width: 25%;
}
  
/* Middle column */
.column.middle {
    width: 50%;
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #000000;
    font-size: 2em;
    padding-left: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 1px solid #68a5ff;
    background-color: rgb(192, 192, 192);
}

h2 {
    font-size: 1.5em;
}

.job-title {
    color: #999999;
    font-weight: bold;
    text-align:center;
}

a:link, a:visited {
    color: #42b1fb;
}

ul.profile {
    position: relative;
    list-style-type: none;
    width: 50%;
}

ul.profile li {
    height: 150px;
    margin: 30px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(0,0,0);
}

ul.profile li img {
    position: relative;
    left: 10px;
    width: 130px;
    height: 130px;
    float: left;
}

ul.profile li .container a {
    font-size: 1.5em;
    color: rgb(0, 97, 177);
    text-decoration:underline;
}

ul.profile li .container a:hover {
    font-size: 1.5em;
    color: rgb(0, 97, 177);
    text-decoration:none;
}

ul.profile li .container {
    padding-left:150px;
    padding-top:12px;
}

ul.profile li .container p {
    padding-top:5px;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }